<h1>Listing hotel_pics</h1>

<table>
  <tr>
    <th>Hotel</th>
    <th>Avatar</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hotel_pics.each do |hotel_pic| %>
  <tr>
    <td><%= hotel_pic.hotel %></td>
    <td><%= hotel_pic.avatar %></td>
    <td><%= link_to 'Show', hotel_pic %></td>
    <td><%= link_to 'Edit', edit_hotel_pic_path(hotel_pic) %></td>
    <td><%= link_to 'Destroy', hotel_pic, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hotel pic', new_hotel_pic_path %>
