<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hotel.name %>
</p>

<p>
<b>Desc:</b>
truncate(<%= @hotel.desc %>,length: 20)
</p>

<p>
  <b>Rating:</b>
  <%= @hotel.rating %>
</p>

<p>
  <b>Avatar:</b>
  <%= @hotel.avatar %>
</p>

<p>
  <b>City:</b>
  <%= @hotel.city %>
</p>

<p>
  <b>Country:</b>
  <%= @hotel.country %>
</p>


<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %>
